{{> menu active="about"}}

        <div class="column">
            <div class="ui three column middle aligned grid basic segment">
              <span class="ui three column middle aligned grid basic segment"> 
<p>
Have you ever wanted to remember something? A night out. A dinner with friends. A backpacking trip.
<br>
Leave a placemark — and you’ll never forget.
<br>
Life happens everywhere.
<br>
PLACEMARK helps you keep track of where you go & what you do.
<br>
 Record a moment - how you feel & what you’re doing
<br>
See the placemarks your friends leave
<br>
Check-out what people are doing nearby


                </p></span>
            </div>
        </div>
      
    <section class="ui inverted three column middle aligned grid basic segment">
        <div class="column">
            <img class="ui large image" src="https://www.adorama.com/alc/wp-content/uploads/2017/11/shutterstock_114802408.jpg">
        </div>
        <div class="column">
            <img class="ui large image " src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/beach-quotes-1559667853.jpg">
        </div>


        <div class="ui left aligned middle aligned segment">
           <span class="ui inverted white text"> <h2>Our Goals</h2>
            <ul>
                <li>Enhance support for impact-based decision making for where you have visited and where you might want to go</li>
                <li>Provide information services which promote the safety of citizens
                    and supports economic and environmental resilience to all of our customers
                </li>
                <li>Deliver a high quality service</li>
                </li></span>
            </ul>
        </div>
</section>
    


